--extra-index-url https://download.pytorch.org/whl/cu130
albucore
albumentations
alembic
annotated-types
certifi
charset-normalizer
colorama
colorlog
contourpy
cuda-bindings
cuda-pathfinder
cycler
filelock
flatbuffers
fonttools
fsspec
greenlet
idna
Jinja2
joblib
kiwisolver
Mako
MarkupSafe
matplotlib
ml_dtypes
mpmath
networkx
numpy
nvidia-cublas
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn-cu13
nvidia-cufft
nvidia-cufile
nvidia-curand
nvidia-cusolver
nvidia-cusparse
nvidia-cusparselt-cu13
nvidia-nccl-cu13
nvidia-nvjitlink
nvidia-nvshmem-cu13
nvidia-nvtx
onnx
onnxruntime
onnxruntime-gpu
onnxslim
opencv-python
opencv-python-headless
optuna
packaging
pandas
pillow
polars
polars-runtime-32
protobuf
psutil
pydantic
pydantic_core
pyparsing
python-dateutil
PyYAML
requests
scikit-learn
scipy
setuptools
simsimd
six
SQLAlchemy
stringzilla
sympy
threadpoolctl
torch
torchvision
tqdm
triton
typing-inspection
typing_extensions
ultralytics
ultralytics-thop
urllib3
